@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.Home__header {
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1;
    padding-bottom: 20px;
}